obj
bin
deploy
deploy/*
[Rr]elease*/

*.sln.cache
*.suo
*.csproj.user
*.cache

_ReSharper*/
*.resharper.user
*.ReSharper.user

[Tt]est[Rr]esult*

*.dotCover
*.DotConfig*
*.DotSettings*

~$*
*.stresult
*.userprefs
*.pidb

thumbs.db
*.DS_Store

packages/*/*
*/packages/*/*
lib/**/*.nupkg
*/log/*

*.vspscc
*.vssscc